Source: ros-hydro-hironx-tutorial
Section: misc
Priority: extra
Maintainer: Isaac Saito <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-leap-motion, ros-hydro-moveit-commander, ros-hydro-nextage-ros-bridge, ros-hydro-rospy, ros-hydro-tf
Homepage: http://wiki.ros.org/hironx_tutorial
Standards-Version: 3.9.2

Package: ros-hydro-hironx-tutorial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-hironx-ros-bridge, ros-hydro-leap-motion, ros-hydro-moveit-commander, ros-hydro-nextage-ros-bridge, ros-hydro-rospy, ros-hydro-tf
Description: Sample / demo / tutorial programs for Hiro and NEXTAGE OPEN (NXO) robot by Kawada Industries. All sample code that works on Hiro robot should work also on NEXTAGE OPEN. The opposite is, however, not always true (e.g. gripper operation is different in NXO).
